/*===== HOME =====*/
.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    padding: 0 15px;
    animation: slide 2s ease;
}

.home .slide.active {
    display: flex;
}

@keyframes slide {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.container {
    max-width: 1170px;
    margin: auto;
}

.home .container {
    flex-grow: 1;
}

.home .caption {
    width: 50%;
}

.home .caption h1 {
    font-size: 42px;
    color: #eee;
    margin: 0;
}

.home .slide.active .caption h1 {
    opacity: 0;
    animation: captionText 0.5s ease forwards;
    animation-delay: 1s;
}

.home .caption p {
    font-size: 18px;
    margin: 15px 0 30px;
    color: #eee;
}

.home .slide.active .caption p {
    opacity: 0;
    animation: captionText 0.5s ease forwards;
    animation-delay: 1.2s;
}

.home .caption a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #795a8f;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
}

.home .slide.active .caption a {
    opacity: 0;
    animation: captionText 0.5s ease forwards;
    animation-delay: 1.4s;
}

@keyframes captionText {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.home .controls .prev,
.home .controls .next {
    position: absolute;
    z-index: 2;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #ffffff;
    background-color: #3e1663;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.home .controls .prev:hover,
.home .controls .next:hover {
    background-color: #a997b2;
}

.home .controls .prev {
    left: 0;
}

.home .controls .next {
    right: 0;
}

.home .indicator {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 2;
    transform: translateX(-50%);
    cursor: pointer;
}

.home .indicator div {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: #3e1663;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin: 0 3px;
}

.home .indicator div.active {
    background-color: #a997b2;
}

@media screen and (max-width: 600px) {
    .contenido-slider {
        flex-direction: column-reverse;
    }

    .contenido-slider>div {
        width: 80%;
    }
}

.controls .prev,
.controls .next {
    display: none;
}