/*===== HOME =====*/
.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    animation: slide 2s ease;
}

.home .slide.active {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 5px; /* ajusta esta distancia según lo que necesites */
}

@keyframes slide {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.container {
    max-width: 1170px;
    margin: auto;
}

.home .container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .caption {
    background-color: rgba(77, 39, 113, 0.7); /* Caja transparente con color */
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    color: #eee;
}

.home .caption h1 {
    font-size: 22px;
    color: #eee;
    margin: 0;
}

.home .slide.active .caption h1 {
    opacity: 0;
    animation: captionText 0.5s ease forwards;
    animation-delay: 1s;
}

.home .caption p {
    font-size: 18px;
    margin: 15px 0 30px;
    color: #eee;
}

.home .slide.active .caption p {
    opacity: 0;
    animation: captionText 0.5s ease forwards;
    animation-delay: 1.2s;
}

.home .caption a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #6a0dad;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
}

.home .slide.active .caption a {
    opacity: 0;
    animation: captionText 0.5s ease forwards;
    animation-delay: 1.4s;
}

@keyframes captionText {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.home .controls .prev,
.home .controls .next {
    position: absolute;
    z-index: 2;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #ffffff;
    background-color: #3e1663;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.home .controls .prev:hover,
.home .controls .next:hover {
    background-color: #a997b2;
}

.home .controls .prev {
    left: 0;
}

.home .controls .next {
    right: 0;
}

.home .indicator {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 2;
    transform: translateX(-50%);
    cursor: pointer;
}

.home .indicator div {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: #3e1663;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin: 0 3px;
}

.home .indicator div.active {
    background-color: #a997b2;
}

@media screen and (max-width: 768px) {
    .home {
        height: 100vh; /* Ocupa toda la pantalla */
        padding: 0; /* elimina padding vertical si no lo necesitas */
        position: relative;
        overflow: hidden;
    }

    .home .slide {
        display: none;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .home .slide.active {
        display: flex;
        align-items: flex-end; /* o center según diseño */
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .home .caption {
        padding: 60px;
        width: 90%;
        height: 60vh; /* Ocupa toda la pantalla */
        max-width: 100%;
        color: white;
        z-index: 2;
    }

    .caption h1 {
        font-size: clamp(52px, 10vw, 60px);
    }

    .caption p {
        font-size: clamp(42px, 10vw, 42px);
        line-height: 1.8; /* Aumenta el espacio entre líneas */
    }

    .caption a {
        font-size: clamp(22px, 10vw, 22px);
        padding: 8px 60px;
    }

    .controls .prev,
    .controls .next {
        display: none;
    }
}

.controls .prev,
.controls .next {
    display: none;
}
