/*===== FOOTER =====*/
.footer {
    background-color: #745c83;
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 2rem;
    /* Aumenta el tamaño de los iconos */
    color: #fff;
    margin: 0 var(--mb-2);
}

.footer__logo {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo img {
    height: 150px;
    width: auto;
}

.footer p {
    margin: 10px 0;
}